.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-card__item {
  display: block;
  height: 30vh;
  object-fit: cover;
}


.info {
	padding: 10px;
	justify-content: space-around;
 }
 
 .info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(69, 23, 23);
 }
 
 .info-item:not(:first-child) {
	margin-left: 5px;
 }