.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-card__item {
  display: block;
  height: 30vh;
  object-fit: cover;
}


.info {
	padding: 10px;
	justify-content: space-around;
 }
 
 .info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(69, 23, 23);
 }
 
 .info-item:not(:first-child) {
	margin-left: 5px;
 }