.gallery-container {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
 
	@media screen and (min-width: 480px) {
	  	width: 480px;
		margin: 0 auto;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	}
 
	@media screen and (min-width: 1440px) {
	  width: 1440px;
	}
 }

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}
